@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@400;500;600;700&family=Merriweather:wght@700;900&display=swap');
*
{
    margin: 0;
    padding: 0;
}
html
{
    font-size: 16px;
}
body
{
    background: rgba(250, 250, 250, 1);
}
.main
{
    color: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 106px;
    margin-top: 80px;
}
.main--name
{
    color:rgba(0, 0, 0, 1);
    font-size: 2em;
    font-family: 'Libre Franklin';
    font-weight: 500;
    display: flex;
    justify-content: flex-start;
    line-height: 38.78px;
    letter-spacing: 0.06em;
}
.charan-img
{
    width: 467px;
    position: absolute;
    right: 0;
    top: 392px;
}
.main--info
{
    font-family: 'Libre Franklin', sans-serif;
    font-size: 40px;
    font-weight: 500;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
    line-height: 50px;
    margin-top: 131px;
}
.main--stocks
{
    font-family: 'Libre Franklin', sans-serif;
    font-size: 40px;
    font-weight: 500;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
    line-height: 50px;
    margin-top: 40px;
}
.main--works
{
    font-family: 'Libre Franklin', sans-serif;
    font-size: 40px;
    font-weight: 500;
    margin-top:40px;
    line-height: 50px;
}
#freecharge
{
    color: black;
}
.main--location
{
    font-family: 'Libre Franklin', sans-serif;
    font-size: 40px;
    font-weight: 500;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-top:40px;
    line-height: 50px;
}
.main--new--work
{
    color:rgba(255, 255, 255, 1);
    width: 467px;
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 0;
    top: 740px;
}
.new-banner
{
    display: flex;    
    /* flex-direction: column; */
    background:rgba(0, 0, 0, 1);
    justify-content: space-around;
    font-family: 'Libre Franklin';
    font-weight: 800;
}
.mid-content
{
    display: flex;
    flex-direction: row;
    font-family: 'Libre Franklin';
}
.persuasive-design-content
{
    margin-left:15px;
    margin-top: 20px;
    font-family: 'Libre Franklin';
}
#coming-soon
{
    color: rgba(109, 100, 205, 1);
    font-weight: 600;
    font-size: 14px;
}
#persuasive-design-heading
{
    font-weight: 500;
    font-size: 22px;
    color:rgba(0, 0, 0, 1);
    margin-top: 12px;
}
#persuasive-text
{
    font-size: 16px;
    color: rgba(0, 0, 0, 1);
    margin-top: 6px;
    font-weight: 500;
}
#persuasive-design
{
    width: 190px;
}
.work
{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 228px;
    margin-right: 227px;
    margin-top: 310px;
}
#work-heading
{
    font-family: 'Libre Franklin';
    font-size: 44px;
    font-weight: 500;
    line-height: 53px;
    letter-spacing: 0em;
    text-align: left;
}
.project-container
{
    display: flex;
    flex-direction: column;
    margin-top: 82px;
    font-size: 0px;
}
.container--div
{
    display: flex;
    flex-direction: row;
}
.project-cover
{
    width: 508px;
    height: 380px;
}
.about
{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 228px;
    margin-top: 80px;
    font-family: 'Libre Franklin';
}
#about--heading
{
    font-family: Libre Franklin;
    font-size: 44px;
    font-weight: 500;
    line-height: 53px;
    letter-spacing: 0em;
    text-align: left;
}
.about-charan-1, .about-charan-2, .about-charan-3
{
    margin-top: 80px;
    line-height: 32px;
    font-size: 22px;
    font-weight: 500;
    text-align: left;
}
.about-charan-1 > span, .about-charan-2 > span, .about-charan-3 > span
{
    display: flex;
    justify-content: flex-start;
}
.design-think, .freecharge
{
    text-decoration: underline;
}
.sentence-2, .sentence-3, .sentence-4
{
    margin-top: 15px;
}
.POV, .his-work
{
    font-weight: 700;
}
.about-charan-2, .about-charan-3
{
    margin-top: 40px;
}
.resume-link
{
    font-family: 'Libre Franklin', sans-serif;
    color: black;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0.02em;
    margin-top: 40px;
    margin-bottom: 60px;
    width: 80px;
}
.resume-button
{
    background: rgba(0, 0, 0, 1);
    color: white;
    width: 162px;
    height: 77px;
    border-radius: 100px;
}
.resume-button > p
{
    position: relative;
    top: 26.5px;
    background: none;
    text-align: center;
}

.connect
{
    background: rgba(0, 0, 0, 1);
    color: rgba(255, 255, 255, 1);
    display: flex;
    justify-content: space-around;
    font-family: 'Libre Franklin';
    font-size: 22px;
    font-weight: 500;
    padding-bottom: 118px;
}
.connect--charan
{
    margin-top: 100px;
}
.connect--sadhasivam
{
    margin-top: 100px;
}
.connect--unite
{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}
.connect--socials
{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}
.connect--socials > span > a
{
    color: white;
}
.connect--mail
{
    margin-top: 20px;
}
.connect--mail > a
{
    color: white;
}
.connect--sadha--linkedin
{
    margin-top: 28px;
}
#sadha-linkedin
{
    color: white;
}
/*

@media only screen and (min-device-width: 320px) and (max-device-width: 480px)
{
    html
    {
        font-size: 16px;
    }
    .main
    {
        margin-left: 25px;
    }
    .main--name
    {
        font-size: 0.85rem; 
    }
    .main--info
    {
        margin-top: 40px;
        font-size: 1rem;
        line-height:24px;
    }
    .main--stocks
    {
        font-size: 1rem;
        line-height:24px;
        margin-top: 20px;
    }
    .main--freecharge
    {
        font-size: 1rem;
        line-height:24px;
        margin-top: 20px;
    }
    .main--location
    {
        font-size: 1rem;
        line-height:24px;
        margin-top: 20px;
    }
    .container--div
    {
        flex-direction: column;
        flex-wrap: wrap;
        width: 80%;
    }
    .charan-img
    {
        visibility: hidden;
    }
    .charan-img-2
    {
        visibility: visible;
        margin-top: 20px;
        width: 80%;
    }
    .work
    {
        margin-left: 25px;
        margin-top: 80px;
    }
    #work-heading
    {
        font-size: 1.4rem;
    }
    .project-container
    {
        margin-left: 27px;
    }
    .project-cover
    {
        width: 270px;
        height: 202px;
    }
    .about
    {
        margin-left: 25px;
        margin-top: 80px;
    }
    #about--heading
    {
        font-size: 1.4rem;
    }
    .about-charan-1, .about-charan-2, .about-charan-3
    {
        margin-top: 80px;
        line-height: 24px;
        font-size: 1rem;
        font-weight: 500;
        text-align: left;
        max-width:325px;
    }
    .resume-link
    {
        font-size: 1rem;
    }
    .connect
    {
        font-size: 1rem;
        display: flex;
        flex-direction: column;
        padding-left: 25px;
        padding-bottom: 30px;
    }
    .connect--charan
    {
        margin-top: 30px;
    }
    .connect--unite
    {
        display: flex;
        flex-direction: column;
        margin-top: 10px;
    }
    .connect--socials
    {
        display: flex;
        flex-direction: column;
        margin-top: 10px;
    }
    .connect--socials > span > a
    {
        color: white;
    }
    .connect--mail
    {
        margin-top: 10px;
    }
    .connect--mail > a
    {
        color: white;
    }
    .connect--sadhasivam
    {
        margin-top: 51px;
    }
    .connect--sadha--linkedin
    {
        margin-top: 10px;
        max-width: 300px;
    }
    #sadha-linkedin
    {
        color: white;
    }
}

*/