@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@500;600;700&display=swap');
*
{
    margin: 0;
    padding: 0;
}
:root
{
    --blue-font: rgba(84, 157, 231, 1);
}
html
{
    font-size: 100%;
}
body
{
    background: rgba(255, 254, 252, 1);
    padding: 80px 140px 208px 140px;
    font-family: 'Libre Franklin';
}
.name
{
    font-size: 2rem;
    font-weight: 500;
    letter-spacing: 6%;
    line-height: 38.78px;
}
#charan
{
    color: var(--blue-font);
    font-weight: 700;
}
.nav-bar
{
    width: 432px;
    display: flex;
    align-items: center;
    gap: 46px;
    position: absolute;
    top: 86px;
    right: 0;
}
.nav-links
{
    text-decoration: none;
    color: var(--blue-font);
    font-size: 1.25rem;
    font-weight: 600;
}
#resume-link
{
    margin-left: 46px;
    margin-left: 0;
}
.center-content-wrapper
{
    display: flex;
    margin: auto 0;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 1;
}
.main-section
{
    /* margin: auto 0; */
    margin-top: 130px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: 'Libre Franklin';
    font-size: 1.25rem;
    max-width: 545px;
    line-height: 32px;
}
.HDFC
{
    font-weight: 600;
    color: var(--blue-font);
    text-decoration: underline;
}
.previous-work, .previous-work a
{
    font-weight: 600;
    color: var(--blue-font);
}
.main-section--fintech
{
    margin-top: 14px;
}
.main-section--HDFC
{
    margin-top: 14px;
}
.main-section--previous
{
    margin-top: 14px;
}
.main--section--location
{
    margin-top: 14px;
}
.main-section--charan-pic
{
    margin-top: 80px;
}

.charan-and-design
{
    font-size: 1.25rem;
    margin-top: 80px;
    max-width: 545px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    line-height: 32px;
}
.pov-design
{
    font-size: 1.25rem;
    margin-top: 80px;
    max-width: 545px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    line-height: 32px;
}
.pov-design--saying
{
    font-weight: 600;
    color: var(--blue-font);
    text-decoration: underline;
}
#pov-heading
{
    color: rgba(127, 127, 132, 1);
    font-weight: 600;
}
.fintech
{
    font-size: 1.25rem;
    margin-top: 80px;
    max-width: 545px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    line-height: 32px;
}
#fintech-heading
{
    color: rgba(127, 127, 132, 1);
    font-weight: 600;
}
.fintech--design-for-trust
{
    font-weight: 600;
    color: var(--blue-font);
    /* text-decoration: underline; */
}
.how-i-work
{
    font-size: 1.25rem;
    margin-top: 80px;
    max-width: 545px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    line-height: 32px;
}
#how-i-work-heading
{
    color: rgba(127, 127, 132, 1);
    font-weight: 600;
}
.gallery
{
 font-family: 'Libre Franklin';
 font-size: 1.25rem;
 margin-left: 50px;
 margin-top: 48px;
 margin-left: -5px;
}
#gallery-heading
{
    font-weight: 600;
    color:rgba(127, 127, 132, 1);
    margin-bottom: 32px;
}
#shoton-iPhone
{
    font-weight: 600;
    color: var(--blue-font);
}
.gallery-container
{
    margin-top: 48px;
}
#image-1
{
    height: 210px;
    width: 320px;
}
#image-2
{
    height: 210px;
    width: 215px;

}
#image-3
{
    height: 250px;
    width: 215px;

}
#image-4
{
    height: 381px;
    width: 320px;

}
#image-5
{
    height: 250px;
    width: 215px;
}
#image-6
{
    height: 255px;
    width: 215px;

}
#image-7
{
    height: 381px;
    width: 320px;

}
#image-8
{
    height: 210px;
    width: 320px;

}
#image-9
{
    height: 210px;
    width: 215px;

}
#image-10
{
    height: 336px;
    width: 545px;
} 
.flex-container-one
{
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}
.flex-container-two
{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.flex-container-three
{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.flex-container-wrap
{
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}
.grid-container-one
{
    display: grid;
    gap: 10px;
    grid-template-rows: 210px 336px;
    grid-template-columns: 320px 215px;
}
.gallery-caption
{
    /* line-height: 32px; */
    margin-top: 22px;
}
.lets-connect
{
    font-size: 1.25rem;
    margin-top: 48px;
    max-width: 545px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    line-height: 32px;
}
#lets-connect-heading
{
    color: rgba(127, 127, 132, 1);
    font-weight: 600;
}
.connect-socials a
{
    font-weight: 600;
    color: var(--blue-font);
}
.connect-mail
{
    color: var(--blue-font);
    font-weight: 600;
}
.credits
{
    color: #7F7F84;
    font-size: 1.25rem;
    margin-top: 80px;
    margin-left: -110px;
    max-width: 545px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    line-height: 32px;
    text-align: left;
}
.sadhasivam
{
    font-weight: 700;
    color:rgba(84, 157, 231, 1);
}

